body {
  font-family: Arial, sans-serif;
  background-color: white;
  margin: 0;
  padding: 0;
}

.filters {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5vh;
  text-align: center;
}

.filters a {
  margin-right: 10px;
  padding: 10px;
  background-color: #fd611a;
  color: white;
  text-decoration: none;
}

.filters a:hover {
  background-color: #2980b9;
}

#product-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  background-color: #eee;
  padding: 10px;
  padding-left: 5%;
  padding-right: 5%;
}

.product {
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  background-color: #fff;
  border-bottom: outset;
}

.product img {
  max-width: 100%;
  max-height: 100px;
  transition: all .5s;
}

.product p {
  margin-top: 5px;
}

.product:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.40);
}

.product:hover img {
  transform: scale(1.2);
}

.button-carrito {
  width: 60%;
  height: 44px;
  font-size: 15px;
  color: white;
  background-color: #fd611a;
  border: none;
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
  cursor: pointer;
}

.button-carrito:hover {
  background-color: gray;
}

.select-product {
  margin-left: 20%;
  padding-top: 10px;
}

.button-select {
  margin-right: 15px;
  padding: 12px;
  background-color: transparent;
  color: black;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  width: 200px;
  text-align: center;
  font-size: 15px;
  cursor: pointer;
}

.select-product select option {
  padding: 10px;
  background-color: #f4f4f4;
  color: #333;
  border: none;
}

.icon-cart {
  width: 40px;
}
